* {
  padding: 0;
  margin: 0;
}





.content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 10px;
}

nav {
  display: flex;
  padding: 10px;
  color: black;
  align-items: center;
}

.log {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.m {
  width: 100%;
}

.m ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

ul li:hover {
  cursor: pointer;
  background-color: #a2cf6c;
  padding: 5px 12px;
  border-radius: 5px;
  transition: all 0.5s ease;

}

a {
  text-decoration: none;

}

@media screen and (max-width: 400px) {
  nav {
    font-size: 12px;
  }

  .m {
    width: 700px;
  }

  .log p {
    display: none;
  }
}

.serchnav {
  background: #dfdfff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 45px;
}

.serchnav form {
  display: grid;
  gap: 10px;
  font-weight: bold;
}

.serchnav span,
button {
  display: flex;
  color: #111f6a;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.serchnav button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #1970f6;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.serchnav button:hover {
  transition-duration: 0.5s;
  font-size: 25px;
}


.serchnav input {
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.alldata {
  height: 80vh;
  overflow: auto;
}

.con {
  display: flex;
  margin-top: 15px;

  background-color: #f6f6f9;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgb(203, 200, 200);
  cursor: pointer;

}

.con:hover {
  transition-duration: 0.3s;
  border: 1px solid rgb(69, 69, 189);
}

.imgcon {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 13px;
}




.datcon {
  width: 100%;
  padding: 10px;
}

.h_name {
  display: flex;
  color: black;

  font-size: 22px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h_address {
  display: flex;

  color: rgb(97, 97, 223);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h_price {
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-weight: bold;
  margin: 61px;
  color: #04010f;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 700px) {
  .con {
    transition-duration: 0.5s;
    display: block;
  }
  .h_address,
  .h_price {
    text-align: left;
  }

  .h_price {
    transition-duration: 0.5s;
    justify-content: flex-start;
    margin: 10px;

  }
  .datcon {
    display: grid;
    gap: 6px;
  }

  .imgcon {
    display: block;
    width: 95%;
  }

}

@media only screen and (max-width: 480px) {
  .con {
    margin: 0px;
    margin-bottom: 10px;
  }

  #sty {
    display: none;
  }

  nav {
    padding: 6px;
  }

  .h_address,
  .h_price {
    text-align: left;
  }

  .datcon {
    display: grid;
    gap: 6px;
  }

  .h_price {
    transition-duration: 0.5s;
    justify-content: flex-start;
    margin: 10px;

  }

  .imgcon {
    display: block;
    width: 95%;
  }

}