
.hj
{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card {
    width: 400px;
    padding: 2rem;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(147, 51, 234, 0.2);
    border-radius: 8px;

}

.card h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

select, input {
    width: 100%;
    padding: 0.75rem;
    background: transparent;
    border: 1px solid rgba(147, 51, 234, 0.3);
    border-radius: 4px;
  
    font-size: 1rem;
    outline: none;
    appearance: none;
}

select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
}



input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button {
    width: 100%;
    padding: 0.75rem;
    background: #E341F9;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background: rgba(214, 39, 130, 0.9);
}

select:focus, input:focus {
    border-color: #E341F9;
}
@media only screen and (max-width: 480px)
{
    .card
    {
        padding: 10px;
        margin: 5px;
        overflow: auto;
    }
}